p,h1,li,h2 {
color: #ffffff;
}

ul,li
{
list-style-type: none;
list-style-position:inside;
margin:0;
padding:0;
}

tr,td {
    color: white;
    text-decoration: underline;
}

.item {
font-size: large;
}

h2
{
text-align: center;
}

hr
{
position:relative;
}

body {
background: none;
}

.row {
margin-top: 20vh;
}

html{
background: linear-gradient(182deg, #121848, #000000);
background-size: 800% 800%;

-webkit-animation: AnimationName 36s ease infinite;
-moz-animation: AnimationName 36s ease infinite;
-o-animation: AnimationName 36s ease infinite;
animation: AnimationName 36s ease infinite;
height: 100%;
width: 100%;
}

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes AnimationName { 
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}